[Desktop Entry]
Type=Application
Name=Software Center
GenericName=Software Center
GenericName[de]=Software-Center
GenericName[es]=Centro de software
GenericName[fr]=Centre de logiciels
GenericName[id]=Pusat Perangkat Lunak
GenericName[ja]=ソフトウェアセンター
GenericName[pt]=Centro de software
GenericName[ru]=Центр программ
GenericName[zh_CN]=软件中心
Comment=Install and remove software on your system
Comment[de]=Software auf Ihrem System installieren und entfernen
Comment[es]=Instalar y eliminar software en su sistema
Comment[fr]=Installer et supprimer des logiciels sur votre système
Comment[id]=Pasang dan hapus perangkat lunak di sistem Anda
Comment[ja]=システムにソフトウェアをインストールおよび削除します
Comment[pt]=Instalar e remover programas no seu sistema
Comment[ru]=Установка и удаление программ в вашей системе
Comment[zh_CN]=在您的系统上安装和删除软件
Exec=software-center %f
Icon=software-center
Terminal=false
Categories=System;PackageManager;Qt;
MimeType=application/x-rpm;application/vnd.flatpak;application/vnd.flatpak.ref;application/vnd.appimage;
Keywords=install;remove;software;packages;flatpak;rpm;update;
Keywords[de]=installieren;entfernen;Software;Pakete;
Keywords[es]=instalar;quitar;software;paquetes;
Keywords[fr]=installer;supprimer;logiciels;paquets;
Keywords[ru]=установить;удалить;программы;пакеты;
Keywords[zh_CN]=安装;卸载;软件;软件包;
StartupNotify=true
StartupWMClass=software-center
